/* Empty. Add your own CSS if you like */
.align_center{
    width:80%;
    margin: auto;
}
.profileList {

text-align: left;


}
.leftAlign figure{
	 justify-content: flex-start !important;
	 margin-left: 44%; 
}



.profileList h5{
    margin-top: -15px;
    padding-bottom: 5px;
}
.ourbutton{
	background: #3acfab !important;
	color: #ffffff !important;
}

.themeFont{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.cancel{
	float: right ; 
	margin-right: 5px;
	
	position: absolute;
	right: 10px;
	top: 10px;
}