<div>
    <br>
    <center>
        <h1>Receipt-<strong>{{name}}</strong></h1>
    </center>
    <div>
        <md-grid-list md-cols="10" md-gutter="5px" md-row-height="50px" >
            <md-grid-tile md-colspan="5" md-colspan-xs="10"  md-rowspan="1" >
                <md-datepicker ng-model="data.from" md-placeholder="From date" ng-change="sortDate()"></md-datepicker>
            </md-grid-tile>
            <md-grid-tile md-colspan="5" md-colspan-xs="10"  md-rowspan="1" >
                    <md-datepicker ng-model="data.to" md-placeholder="To date" ng-change="sortDate()"></md-datepicker>
            </md-grid-tile>
        </md-grid-list>
        <md-grid-list md-cols="12" md-gutter="5px" md-row-height="50px" >
            <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>Date</h4>
            </md-grid-tile>
            <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>Gr.Wt</h4>
            </md-grid-tile>
           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>Fine</h4>
            </md-grid-tile>
           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>Wastage</h4>
            </md-grid-tile>
           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>Fine.wt</h4>
            </md-grid-tile>
            <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>Cmmt</h4>
            </md-grid-tile>
        </md-grid-list>
        <md-grid-list md-cols="12" md-gutter="5px" md-row-height="50px" ng-repeat =" profile in profiles" ng-dblclick="edit(profile,$index)" >

           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>{{getDate(profile.date)}}</h4>
            </md-grid-tile>
            <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>{{profile.grossweight}}</h4>
            </md-grid-tile>
           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>{{profile.fine}}</h4>
            </md-grid-tile>
           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>{{profile.wastage}}</h4>
            </md-grid-tile>
           <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>{{profile.fineweight}}</h4>
            </md-grid-tile>
            <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
                <h4>{{profile.comment}}</h4>
                <img ng-show="data.visible" src="img/icons/error.svg" width="24px" height="24px" class="cancel" ng-click="showConfirm($event,profile._id,$index)"></img>
            </md-grid-tile>
        </md-grid-list>
        <center>
            <label class="themeFont" >Your total fine weight&nbsp&nbsp&nbsp</label><label class="themeFont" style="color: green;">{{fineWeight}}</label>
        </center>
    </div>
    <md-grid-list md-cols="6" md-gutter="5px" md-row-height="50px">
        <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
            <md-button class="md-raised md-primary" ng-click="modifyEnable()">Modify Enable</md-button>
        </md-grid-tile>
        <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
            <md-button class="md-raised md-primary" ng-click="showAdvanced($event)">New Entry</md-button>
        </md-grid-tile>
        <md-grid-tile md-colspan="2" md-colspan-xs="2"  md-rowspan="1" >
            <md-button class="md-raised md-primary" ng-click="print()">Print</md-button>    
        </md-grid-tile>
    </md-grid-list>
    <br><br>
</div>